<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:myname="http://www.springDemo.com/schema/user"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springDemo.com/schema/user http://www.springDemo.com/schema/user.xsd">
    <!--rmi客户端配置-->
    <bean id="myRmiClient" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" >
        <property name="serviceInterface" value="com.springDemo.service.RmiService" />
        <property name="serviceUrl" value="rmi://localhost:9090/helloRmi" />
    </bean>


</beans>